
body {
    font-family: 'Segoe UI', sans-serif;
    background: #e3f2fd;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.header-img {
    width: 100px;
    margin-bottom: 20px;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.btn-title {
    background-color: #4CAF50;
    color: white;
    font-size: 28px;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    cursor: default;
    margin-bottom: 20px;
}

.btn-crear {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 50px;
    display: inline-block;
}

.btn-crear:hover {
    background-color: #0056b3;
}

table {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #bbdefb;
    color: #333;
}

td a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.modo-btn {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.modo-btn:hover {
    background-color: #222;
}


.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode table {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode th {
    background-color: #333;
    color: white;
}

.dark-mode td a {
    color: #90caf9;
}

.dark-mode .btn-title {
    background-color: #00695c;
}

.dark-mode .btn-crear {
    background-color: #1e88e5;
}

.dark-mode .btn-crear:hover {
    background-color: #1565c0;
}

.formulario {
    background: white;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.formulario input,
.formulario textarea {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dark-mode .formulario {
    background-color: #1f1f1f;
}

.dark-mode .formulario input,
.dark-mode .formulario textarea {
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #555;
}
